<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('fragments/global-head.ejs') %>
    <title>haze</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

    <%- include('fragments/header.ejs')  %>

    <div class="scroll-container">
        <main>
            <div class="index-title"><%- title %></div>
            <div class="posts-list">
                <% for (let i=0; i<posts.length; i++) { %>
                    <% let post = posts[i] %>
        
                    <div class="indexed-post">
                        <span><%= posts.length - i %></span>
                        <a class="title" href="/posts/<%= post.path %>">
                            <%= post.title %>
                        </a>
                        <a class="indexed-author" href="/posts/<%= post.author_path %>"><em><%= post.author %></em></a>
                        <span class="date"><%= post.timestamp %></span>
                    </div>
                <% } %>
            </div>
            <% if (posts.length == 0) { %>
                <p><i>there are no posts in this view yet.</i></p>
            <% } %>
        </main>
    </div>
    
</body>

<script src="/js/index.js"></script>
<script>
    let list = document.querySelector(".posts-list");
    if (list) treat_index(list);
</script>

</html>